
body{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

body {
    margin: 0;
    background-color: #3f3a3a;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

#container{
    font-size: 30px;
    font-weight: bold;
}